/* Login */
@import "./login/header.css";
@import "./login/login_form.css";
@import "./login/footer.css";

/* Home */
@import "./home/button-login.css";
@import "./home/sale.css";
@import "./home/products.css";

:root {
  --bg-color: #F5F5F5;
  --white: #FFF;
  --text-color: #464646;
  --subtext-color: #A2A2A2;
  --button-color: #2A7AE4;
  --button-color-hover: #1c5db3;
  --footer-color: #EAF2FD;
  --font: 'Raleway', sans-serif;
}


body {
  background: var(--bg-color);
  font-family: var(--font);
  font-weight: 400;
}